<!-- templates/fragments/footer.html -->
<link rel="stylesheet" href="./css/Home.css">
<div th:fragment="footer">
    <div class="footter-shoe">
        <footer>
            <div class="footer-container">
                <div class="footer-section about">
                    <h2>Về Chúng Tôi</h2>
                    <p>Chúng tôi cung cấp các sản phẩm giày chất lượng cao và dịch vụ tốt nhất.</p>
                </div>
                <div class="footer-section links">
                    <h2>Liên Kết Nhanh</h2>
                    <ul>
                        <li><a href="#">Trang Chủ</a></li>
                        <li><a href="#">Khuyến Mãi</a></li>
                        <li><a href="#">Liên Hệ</a></li>
                    </ul>
                </div>
                <div class="footer-section contact">
                    <h2>Liên Hệ</h2>
                    <p>Địa chỉ: 123 Đường ABC</p>
                    <p>Điện thoại: 0123 ### ###</p>
                    <p>Email: hipstershop@gmail.com</p>
                </div>
            </div>
            <div class="footer-bottom">
                &copy; 2024 Website Bán Hàng.
            </div>
        </footer>
    </div>
</div>
