.form_main {
    width: 300px;
    padding: 100px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*        background-color: rgb(255, 255, 255);*/
    background-color: #F0F0F0;
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    position: absolute;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: none;
}


.heading {
    font-size: 2em;
    color: #2e2e2e;
    font-weight: 700;
    margin: 5px 0 10px 0;
    z-index: 2;
}

.inputcontainer {
    /*      margin-left:10px;*/
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.inputfield {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin: 10px 0;
    color: black;
    font-size: .8em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 15px;
}

.inputfield:focus {
    outline: none;
    border-bottom: 2px solid #AF8F6F;
}

.inputfield::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
}

.button {
    border-radius: 5px;
    z-index: 2;
    position: relative;
    width: 100%;
    border: none;
    background-color: #A67B5B;
    height: 30px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #AF8F6F;
}

.Login a {
    text-decoration: none;
    /* Loại bỏ dấu gạch chân */
    color: inherit;
    /* Giữ màu văn bản mặc định */
    color: #A67B5B;
}