<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/gioithieu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
</head>
<body>
<div id="wrapper-container">
    <section id="site-content">
        <div class="infoContainer">
            <div>
                <h1>Chính sách bảo mật thông tin</h1>
                <div>
                        <span>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Chúng tôi luôn ưu tiên bảo mật thông tin khách hàng.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Chúng tôi hiểu sử dụng hợp lý và bảo mật thông tin.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Chúng tôi cam kết việc sử dụng thông tin trên sẽ chỉ nhằm nâng cao chất lượng dịch vụ khách hàng và tạo sự thuận lợi cho việc mua sắm trực tuyến.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Chúng tôi chỉ dùng thông tin của khách hàng để:</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">- Chất lượng dịch vụ hỗ trợ khách hàng.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">- Giải quyết các vấn đề, tranh chấp phát sinh liên quan đến việc mua hàng, nhận hàng, thanh toán.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">- Ngăn chặn những hoạt động vi phạm pháp luật.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Chúng tôi chỉ sử dụng thông tin của khách hàng trong phạm vi liên quan đến việc mua hàng, nhận hàng, thanh toán, ... trên website này.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Website sẽ lưu trữ thông tin cá nhân của khách hàng trong toàn bộ thời gian website hoạt động.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Quý khách nếu là thành viên website sẽ có thể thay đổi thông tin cá nhân của mình bất cứ lúc nào trong trang quản lý tài khoản của mình.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Chúng tôi cam đoan sẽ không bán, không chia sẻ dẫn đến làm lộ thông tin cá nhân của khách hàng.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Mọi thông tin của quý khách đều được bảo mật bằng cách mã hoá trong cơ sở dữ liệu của website.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Mọi ý kiến, thắc mắc, góp ý, phàn nàn, vui lòng liên hệ SĐT: 1900.633.349</span>
                            </p>
                        </span>
                </div>
            </div>
        </div>
    </section>
    <section id="sectionInfo" class="clearfix">
        <hr class="end-sec">
        <div class="page-wrapper">
            <div class="innerInfo">
                <h4>
                    GỌI MUA HÀNG ONLINE (08:00 - 21: 00 mỗi ngày)
                </h4>
                <div class="infoContent">
                    <p>
                        <span class="titleHotline"><a href="tel:0339568954">1900.633.349</a></span><br>
                        <span class="moreInfoFooter">Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</span>
                    </p>
                </div>
                <h4 style="margin-top: 10px">
                    GÓP Ý & KHIẾU NẠI (08:30 - 20:30)
                </h4>
                <div class="infoContent">
                    <p>
                        <span class="titleHotline"><a href="tel:0379917709">1900.633.349</a></span><br>
                        <span class="moreInfoFooter">Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</span>
                    </p>
                </div>
            </div>
            <div class="innerInfo">
                <div>
                    <h4>
                        THÔNG TIN
                    </h4>
                </div>
                <div class="infoContent">
                    <ul>
                        <li><a href="gioithieu.html">Giới thiệu về Bamboo</a></li>
                        <li><a href="https://forms.gle/fr1p63HzyH5Sg3xd7">Than Phiền Góp Ý</a></li>
                        <li><a href="chinhsachbaomat.html">Chính sách và quy định</a></li>
                    </ul>
                </div>
            </div>
            <div class="innerInfo">
                <h4>
                    FAQ
                </h4>
                <div class="infoContent">
                    <ul>
                        <li class="social"><a href="vanchuyen.html  ">Vận chuyển</a></li>
                        <li class="social"><a href="chinhsachdoitra.html">Chính sách đổi trả bảo hành</a></li>
                        <li class="social"><a href="https://www.facebook.com/profile.php?id=100033846490579" target="_blank" ></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>