<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/gioithieu.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
</head>
<body>
<div id="wrapper-container">
  <section id="site-content">
    <div class="infoContainer">
      <div>
        <h1>Chính sách bảo hành, đổi trả</h1>
        <div>
                        <span>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">1./</span>
                                <span style="font-size: 14pt; font-family: Times New Roman; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"> Điều kiện áp dụng:</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">- Đổi mới sản phẩm hoàn toàn đối với các lỗi của nhà sản xuất trong vòng 7 ngày (gãy gót, bong keo, hư da …).</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">- Qúy khách được đổi size trực tiếp tại cửa hàng , hoặc đổi online (vui lòng chịu phí vận chuyển) không hỗ trợ đổi mẫu theo nhu cầu của khách hàng khi sản phẩm không lỗi, các sản phẩm khuyến mại, sản phẩm thanh lý,…</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">- Sản phẩm đổi hàng phải chưa qua sử dụng.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">- Bảo hành keo vĩnh viễn đối với tất cả các sản phẩm giày dép được mua tại Bamboo.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">- Khách hàng vui lòng xuất trình phiếu bảo hành / hóa đơn mua hàng để được áp dụng chính sách bảo hành.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">- Cửa hàng không bảo hành sản phẩm trong các trường hợp sau:</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">+ Giày dép bị hư do lỗi quý khách gây ra như: trầy xước, mòn đế, nóng chảy, thú vật cắn,...</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">+ Giày dép bị hao mòn tự nhiên trong quá trình sử dụng.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">+ Cửa hàng không nhận sửa chữa những sản phẩm quá cũ (da và đế bị lão hóa, không còn độ bám dính của keo,chỉ hoặc không còn phụ kiện thay thế).</span>
                            </p><br>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">2./</span>
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Hướng dẫn bảo hành</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">- Quý khách có yêu cầu sửa chữa bảo hành có thể mang sản phẩm tới bất kỳ showroom chính hãng của hệ thống Bamboo để sử dụng dịch vụ.</span>
                            </p>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">- Khách hàng ở xa vui lòng gửi sản phẩm về CSKH để được bảo hành miễn phí, thanh toán phí vận chuyển khi có nhu cầu bảo hành sản phẩm.</span>
                            </p>
                        </span>
        </div>
      </div>
    </div>
  </section>
  <section id="sectionInfo" class="clearfix">
    <hr class="end-sec">
    <div class="page-wrapper">
      <div class="innerInfo">
        <h4>
          GỌI MUA HÀNG ONLINE (08:00 - 21: 00 mỗi ngày)
        </h4>
        <div class="infoContent">
          <p>
            <span class="titleHotline"><a href="tel:0339568954">1900.633.349</a></span><br>
            <span class="moreInfoFooter">Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</span>
          </p>
        </div>
        <h4 style="margin-top: 10px">
          GÓP Ý & KHIẾU NẠI (08:30 - 20:30)
        </h4>
        <div class="infoContent">
          <p>
            <span class="titleHotline"><a href="tel:0379917709">1900.633.349</a></span><br>
            <span class="moreInfoFooter">Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</span>
          </p>
        </div>
      </div>
      <div class="innerInfo">
        <div>
          <h4>
            THÔNG TIN
          </h4>
        </div>
        <div class="infoContent">
          <ul>
            <li><a href="gioithieu.html">Giới thiệu về Bamboo</a></li>
            <li><a href="https://forms.gle/fr1p63HzyH5Sg3xd7">Than Phiền Góp Ý</a></li>
            <li><a href="chinhsachbaomat.html">Chính sách và quy định</a></li>
          </ul>
        </div>
      </div>
      <div class="innerInfo">
        <h4>
          FAQ
        </h4>
        <div class="infoContent">
          <ul>
            <li class="social"><a href="vanchuyen.html  ">Vận chuyển</a></li>
            <li class="social"><a href="chinhsachdoitra.html">Chính sách đổi trả bảo hành</a></li>
            <li class="social"><a href="https://www.facebook.com/profile.php?id=100033846490579" target="_blank" ></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
</html>