<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu</title>
    <link rel="stylesheet" href="./css/gioithieu.css">
    <link rel="stylesheet" href="./css/Home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<!-- Header -->
    <div th:insert="fragments/header :: header"></div>
<!-- /Header -->

<!--Content-->
<div id="wrapper-container" style="margin-top: 30px">
    <section id="site-content">
        <div class="infoContainer">
            <div>
                <h1>Giới thiệu về Hipster Shop</h1>
                <div>
                        <span>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Chào mừng bạn đến với HipsterShop - điểm đến lý tưởng cho những người đam mê thời trang và đang tìm kiếm những đôi giày phong cách và chất lượng.</span>
                            </p><br>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Tại Bamboo, chúng tôi không chỉ cung cấp những sản phẩm giày hàng đầu mà còn mang đến trải nghiệm mua sắm độc đáo và tận hưởng. Với hơn mười năm kinh nghiệm trong ngành công nghiệp thời trang, chúng tôi tự hào là địa chỉ tin cậy của hàng triệu khách hàng trẻ trên khắp đất nước.</span>
                            </p><br>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Điều đặc biệt tại Bamboo là sự đa dạng về mẫu mã, kiểu dáng và chất liệu. Từ những đôi giày thể thao năng động đến những đôi giày bít mũi thanh lịch, chúng tôi luôn có sẵn các sản phẩm phù hợp với mọi phong cách và nhu cầu của bạn.</span>
                            </p><br>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Không chỉ dừng lại ở sản phẩm chất lượng, chúng tôi còn cam kết mang đến dịch vụ chăm sóc khách hàng tốt nhất. Từ việc tư vấn và hỗ trợ chọn lựa sản phẩm đến quy trình đổi trả linh hoạt và thuận tiện, Bamboo luôn lắng nghe và đáp ứng mọi nhu cầu của bạn.</span>
                            </p><br>
                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Hãy đến với chúng tôi tại cửa hàng trực tuyến hoặc một trong những cửa hàng vật lý trên khắp đất nước để khám phá thế giới giày dép độc đáo và đa dạng của Bamboo. Hãy để Bamboo là đồng hành tin cậy trong hành trình thời trang của bạn!</span>
                            </p><br>
                            <div>
                                <span style="font-size: 14pt; font-family: Times New Roman; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><br></span>
                            </div>
                        </span>
                </div>
            </div>
        </div>
    </section>
    <section id="sectionInfo" class="clearfix">
        <hr class="end-sec">
        <div class="page-wrapper">
            <div class="innerInfo">
                <h4>
                    GỌI MUA HÀNG ONLINE (08:00 - 21: 00 mỗi ngày)
                </h4>
                <div class="infoContent">
                    <p>
                        <span class="titleHotline"><a href="tel:0339568954">1900.633.349</a></span><br>
                        <span class="moreInfoFooter">Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</span>
                    </p>
                </div>
                <h4 style="margin-top: 10px">
                    GÓP Ý & KHIẾU NẠI (08:30 - 20:30)
                </h4>
                <div class="infoContent">
                    <p>
                        <span class="titleHotline"><a href="tel:0379917709">1900.633.349</a></span><br>
                        <span class="moreInfoFooter">Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</span>
                    </p>
                </div>
            </div>
            <div class="innerInfo">
                <div>
                    <h4>
                        THÔNG TIN
                    </h4>
                </div>
                <div class="infoContent">
                    <ul>
                        <li><a href="gioithieu.html">Giới thiệu về Bamboo</a></li>
                        <li><a href="https://forms.gle/fr1p63HzyH5Sg3xd7">Than Phiền Góp Ý</a></li>
                        <li><a href="chinhsachbaomat.html">Chính sách và quy định</a></li>
                    </ul>
                </div>
            </div>
            <div class="innerInfo">
                <h4>
                    FAQ
                </h4>
                <div class="infoContent">
                    <ul>
                        <li class="social"><a href="vanchuyen.html  ">Vận chuyển</a></li>
                        <li class="social"><a href="chinhsachdoitra.html">Chính sách đổi trả bảo hành</a></li>
                        <li class="social"><a href="https://www.facebook.com/profile.php?id=100033846490579" target="_blank" >Facebook</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<!--/Content-->

<!--Footter-->
<!--    <div th:insert="fragments/footer :: footer"></div>-->
<!--/Footter-->
</body>
</html>