<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/gioithieu.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
</head>
<body>
<div id="wrapper-container">
  <section id="site-content">
    <div class="infoContainer">
      <div>
        <h1>Giao hàng toàn quốc</h1>
        <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
          <span style="font-size: 30pt; font-family: Times New Roman; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">CHÍNH SÁCH GIAO HÀNG</span>
        </p>
        <br>
        <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">
          <span style="font-size: 14pt; font-family: Times New Roman; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Bamboo giao hàng TOÀN QUỐC</span>
        </p>
        <br>
        <p dir="ltr" style="line-height:1.38; margin-top:0pt; margin-bottom:0pt;">
          <span style="font-size: 14pt; font-family: Times New Roman; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">1./ Phí Ship:</span>
        </p>
        <ul style="padding-inline-start: 48px;">
          <li dir="ltr" style="list-style-type: disc; font-size: 14pt; font-family: Times New Roman; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre;" aria-level="1"><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;" role="presentation"><span style="font-size: 14pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Miễn Phí Giao Hàng toàn quốc với đơn hàng giá trị từ 150.000đ</span></p></li>
          <li dir="ltr" style="list-style-type: disc; font-size: 14pt; font-family: Times New Roman; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre;" aria-level="1"><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;" role="presentation"><span style="font-size: 14pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Với các đơn hàng dưới 150.000đ áp dụng phí ship như sau :</span></p></li>
        </ul>
        <ul style="padding-inline-start: 48px;">
          <li dir="ltr" style="list-style-type: disc; font-size: 14pt; font-family: Times New Roman; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre;" aria-level="1"><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;" role="presentation"><span style="font-size: 14pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Nội Thành Quy Nhơn: 5.000đ</span></p></li>
          <li dir="ltr" style="list-style-type: disc; font-size: 14pt; font-family: Times New Roman; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre;" aria-level="1"><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;" role="presentation"><span style="font-size: 14pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Ngoại Thành Quy Nhơn: 15.000d</span></p></li>
          <li dir="ltr" style="list-style-type: disc; font-size: 14pt; font-family: Times New Roman; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre;" aria-level="1"><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;" role="presentation"><span style="font-size: 14pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Các Tỉnh Thành ngoài khu vực Quy Nhơn: 35.000đ</span></p></li>
        </ul>
        <br>
        <p dir="ltr" style="line-height:1.38; margin-top:0pt; margin-bottom:0pt;">
          <span style="font-size: 14pt; font-family: Times New Roman; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">2./ Thời Gian Giao Hàng</span>
        </p>
        <ul>
          <li dir="ltr" style="list-style-type: disc; font-size: 14pt; font-family: Times New Roman; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre;" aria-level="1"><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;" role="presentation"><span style="font-size: 14pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Khu vực nội thành Quy Nhơn: trong ngày</span></p></li>
          <li dir="ltr" style="list-style-type: disc; font-size: 14pt; font-family: Times New Roman; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre;" aria-level="1"><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;" role="presentation"><span style="font-size: 14pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Khu vực ngoại thành và các TP trung tâm: 2-3 ngày</span></p></li>
          <li dir="ltr" style="list-style-type: disc; font-size: 14pt; font-family: Times New Roman; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre;" aria-level="1"><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;" role="presentation"><span style="font-size: 14pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Các khu vực khác: 4-5 ngày</span></p></li>
        </ul>
      </div>
    </div>
  </section>
  <section id="sectionInfo" class="clearfix">
    <hr class="end-sec">
    <div class="page-wrapper">
      <div class="innerInfo">
        <h4>
          GỌI MUA HÀNG ONLINE (08:00 - 21: 00 mỗi ngày)
        </h4>
        <div class="infoContent">
          <p>
            <span class="titleHotline"><a href="tel:0339568954">1900.633.349</a></span><br>
            <span class="moreInfoFooter">Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</span>
          </p>
        </div>
        <h4 style="margin-top: 10px">
          GÓP Ý & KHIẾU NẠI (08:30 - 20:30)
        </h4>
        <div class="infoContent">
          <p>
            <span class="titleHotline"><a href="tel:0379917709">1900.633.349</a></span><br>
            <span class="moreInfoFooter">Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</span>
          </p>
        </div>
      </div>
      <div class="innerInfo">
        <div>
          <h4>
            THÔNG TIN
          </h4>
        </div>
        <div class="infoContent">
          <ul>
            <li><a href="gioithieu.html">Giới thiệu về Bamboo</a></li>
            <li><a href="https://forms.gle/fr1p63HzyH5Sg3xd7">Than Phiền Góp Ý</a></li>
            <li><a href="chinhsachbaomat.html">Chính sách và quy định</a></li>
          </ul>
        </div>
      </div>
      <div class="innerInfo">
        <h4>
          FAQ
        </h4>
        <div class="infoContent">
          <ul>
            <li class="social"><a href="vanchuyen.html">Vận chuyển</a></li>
            <li class="social"><a href="chinhsachdoitra.html">Chính sách đổi trả bảo hành</a></li>
            <li class="social"><a href="https://www.facebook.com/profile.php?id=100033846490579" target="_blank" ></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
</html>